.bg-primary {
  background: linear-gradient(90deg, rgb(77, 80, 255), rgb(67, 70, 251));
}
nav {
  min-height: 70px;
}

nav .nav-item {
  margin: 0 0.2rem;
}

h5 {
  color: black;
}

.alert-primary {
  background: linear-gradient(90deg, rgb(77, 80, 255), rgb(67, 70, 251));
  color: white;
}

.alert-primary a {
  color: white;
  text-decoration: underline;
}
